<!-- form -->
<div class="container-fluid">
  <div class="row">
    <form class="py-4 form col-12 mb-0">
      <div class="col-11 mx-auto">
        <div class="input-group">
          <button class="input-group-text"><i class="bi bi-search"></i></button>
          <input
            type="text"
            id="search"
            class="form-control"
            placeholder="Search with city name"
            name="city"
          />
        </div>
      </div>
    </form>
    <div class="display-1 errorBox col">
      <div class="msg">Search for City!</div>
    </div>
  </div>
</div>
<!-- end form -->